#idcont{
    top: 100px;
    margin-left: 28%;
    margin-right: auto;
    position: absolute;
    z-index: 10;
    background: rgb(86,230,143);
    background: radial-gradient(circle, rgba(86,230,143,1) 4%, rgba(52,209,151,1) 65%, rgba(16,132,156,1) 100%);
    color: white;
    font-weight: 500;
    font-size: 22px;
    border: 0.5px solid gray;
    box-shadow: 0px 2px 6px 0px gray;
    transition: opacity 1s;
    text-align: center;
    padding: 1% 2%;
    width: 40%
}
html{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    src:url(C:\htmlgyaki\Nunito\Nunito-Regular.ttf); 
    background: rgb(8,219,142);
    background: radial-gradient(circle, rgba(8,219,142,1) 26%, rgba(26,237,138,1) 46%, rgba(70,252,185,1) 69%, rgba(71,243,174,1) 95%);

}
form{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align: center;
    margin: 5% 20%;
    width: auto;
}
form input{
    width: 20%;
}
.bejeldiv1{
    padding: 5% 10%;
}
form > *{
    margin-top: 5%;
    max-width: 100%;
    overflow: hidden;
    font-size: 15px;
}
.adat{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 3%;
}
.adat input{
    width: 100%;
    margin-left: 5%;
    border: none;
    border-left: 2px solid  blueviolet;
    border-bottom: 2px solid  blueviolet;
    background-color: transparent;
}
.adat label{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 900;
}
form h2{
    font-size: 30px;
    margin-bottom: 50px;
}
@keyframes elotunik{
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
.bejelentkezes span{
    float: right;
    margin-right: 20px;
    font-size: 30px;
}
.bejelentkezes h2{
    font-size: 30px;
}
#beadasbejelben{
    align-self: center;
    background-color: transparent;
    border: 3px solid white;
    padding: 5px 10px;
    color: white;
    font-weight: 600;
    font-size: 20px;
    transition: all .6s;
}
#beadasbejelben:hover{
    transform: scale(1.05);
}
.bejelbezar{
    float: right;
    font-weight: 1000;
    transition: all 0.4s;
}
.bejelbezar:hover{
    transform: scale(1.5);
    cursor: pointer;
}
.cbok{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5%;
}
button{
    margin-top: 18%;
}