body, html{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
body, html > *{
    max-width: 100%;
    overflow: hidden;
}
.main_pic{
  
} 
.topnav{
    background: url("marcikareal.jpg");
    background-color: #4a4f4c;
    background-blend-mode: screen;
    background-repeat: no-repeat;
    padding: 0 0 50% 0;
    background-size: auto;
    display: flex;
    margin-top:0px;
    padding: 0 0 50% 0;
    width: 100%;
    height: 60px;
    flex-wrap: nowrap;
}
.txt_nextto_pic{
    float:right;
    position: absolute;
    z-index: 10;
    margin: 25% 5% 80% 50%;
    text-transform: uppercase;
    color: white;
    font-weight:bolder;
    font-size: 25px
}
.topnav_options{
    width: 0;
    display: flex;
    flex-wrap: nowrap;
    transition: all 0.8s;
    transform: scale(0);
}
.topnav_options a{
    padding: 20px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 800;
    color: white;
    cursor: pointer;
    transition: background-color 0.6s;
    text-align: center;
    display: flex;
    flex-direction: column;
    max-width: fit-content;
}
.topnav_icon{
    padding: 20px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 800;
    color: white;
    cursor: pointer;
    transition: background-color 0.6s;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.topnav_options a:hover{
    background-color: white;
    color: #4a4f4c;
}
.topnav_icon:hover{
    background-color: white;
    color: #4a4f4c;
}
.intro{
    background-color: white;
    display: flex;
    padding: auto;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5% 0 0 5%;
}
.introtxt{
    font-size: medium;
    color: #4a4f4c;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: row;
    font-size: 30px;
}
.intro_shop{
    background-color: transparent;
    padding: 30px 50px;
    text-transform: uppercase;
    border: 3px solid #4a4f4c;
    text-align: center;
    color: #4a4f4c;
    font-size: 15px;
    margin-top: 3%;
    cursor: pointer;
    transition: all 0.6s;
}
.intro_shop:hover{
    background-color: #4a4f4c;
    color: white;
}
.course_overview{
    width: 100%;
    background-color: whitesmoke;
    padding-top: 5%;
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.courses{
    background-color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
}
.courses a{
    padding: 20px 30px;
    background-color: white;
    color: #4a4f4c;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    margin: 5% 5% 0 5%;
    width: 15%;
    text-align: center;
    border: 1px solid #4a4f4c;
}
.overviewtxt{
    text-transform: uppercase;
    font-size: 22px;
}
.shopping{
    background-color: white;
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
    color: red;
    border: 1px solid red;
    padding: 10px 30px;
    margin-top: 20%;
    transition: all 0.6s;
    cursor: pointer;
    font-weight: 500;
}
.shopping:hover{
    background-color: red;
    color: white;
}
.successes_reviews{
    color: #4a4f4c;
    font-size: 23px;
    display: flex;
    font-weight: 500;
    padding-top: 5%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
video{
    border: none;
    margin-bottom: 5%;
}
footer{
    background-color: whitesmoke;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    width: 100%;
    padding: 5% 0 5% 0;
}
.accessabilities{
    display: flex;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    flex-wrap: wrap;
    width: 20%
}
.logo{
    display: flex;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    flex-wrap: wrap;
    justify-content: center;
    width: 30%;
}
.topnav_for_smallscreen{
    
}
.topnav_for_smallscreen a{
    color: white;
}
.t4sm_header{
    display: none;
}

@media only screen and (max-width: 768px){
    .topnav a{
        padding: 10px 20px;
        font-size: 10px;
    }
    .txt_nextto_pic{
        font-size: 8px;
        margin: 50% 20% 0 55%;
    }
    .topnav_for_smallscreen{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
        float: left;
        width: 20%;
        margin: 0;
    }
    .t4sm_header{
        display: block;
        color: white;
        width: 20%;
        font-weight: 500;
        margin: 5px 0 0 5px;
        float: left;
    }
    .topnav_for_smallscreen a{
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        background-color: transparent;
        font-size: 10px;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        height: 100%;
    }
    .introtxt{
        font-size: 15px;
    }
    .shopping{
        padding: 10px 15px;
        font-size: 5px;
    }
    video{
        width: 60%;
    }
    .intro_shop{
        font-size: 10px;
        padding: 10px 20px;
    }
    .courses a{
        padding: 20px 40px;
        font-size: 10px;
    }
    .overviewtxt{
        font-size: 15px;
    }
    .successes_intro{
        font-size: 15px;
    }
    .accessabilities p{
        font-size: 10px;
    }
    .logo{
        width: 50%;
    }
    .topnav{
        background-size: 50%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;

    }
    .chat_monitor table td{
        font-size: 9px;
    }
    .chat_interface_close{
        margin-left: 80%;
        font-size: 15px;
    }
    #chat_assistant{
        display: none;
    }
}
#chat_assistant{
    font-size: 30px;
    color: white;
    background-color: #4a4f4c;
    border-radius: 20%;
    padding: 10px 15px;
    float: right;
    margin-right: 60px;
    transition: all 0.8s;
}
.chat_assistant{
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 80%;
    padding-left: 20px;
    padding-right: 40px;
}
#chat_assistant:hover{
    transform: scale(1.1);
    cursor: pointer;
}
#chat_interface_close_id{
    font-size: 22px;
    font-weight: bolder;
    margin: 7% 0 20px 97%;
    color: #4a4f4c;
    transition: all 0.4s;
}
#chat_interface_close_id:hover{
    cursor: pointer;
    opacity: 0.7;
}
.chat_interface{
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transform: scale(0);
    margin: 0 0 0 20px;
    transition: all 0.8s;
}
.chat_monitor{
    background-color: white;
    width: 80%;
    padding: 0 0 0 0;
    border: 2px solid transparent;
    border-radius: 10px;
    overflow-y: scroll;
    height: 80%;
    box-shadow: 0 2px 4px 0 gray;
}
.chat_monitor table{
    margin-right: 0;
    width: 100%;
    overflow-y: scroll;
}
.chat_monitor table td{
    width: 20%;
    text-align: center;
    padding: 5px
}
.msg_left{
    background-color: lightgray;
    color: black;
    font-size: 18px;
    font-weight: 500;
    border: 2px solid transparent;
    border-radius: 5px 20px 20px 5px;
    width: 20%;
}
.chat_input{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 150px;
}
.chat_input input{
    border-bottom: 2px solid #4a4f4c;
    border-left: 2px solid #4a4f4c;
    border-right: none;
    border-top: none;
    margin-right: 2px;
}
.chat_input button{
    background-color: transparent;
    border: 2px solid #4a4f4c;
    color: #4a4f4c;
}
.chat_right{
    background-color: lightgray;
    color: black;
    font-size: 18px;
    font-weight: 300;
    border: 2px solid transparent;
    border-radius: 20px 5px 5px 20px;
    width: 30%;
}
.chat_assistant button{
    background-color: transparent;
    border: none;
}
.chat_logo{
    width: 50%;
    border-radius: 100px;
    background-color: gray;
}
