*{
    margin: 0;
    padding: 0;
    transition: all 0.8s;
}
body{
    font-family: 'Indie Flower', cursive;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: #faeae8;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: large;
    font-weight: 600;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.icon{
    position: absolute;
    z-index: 7;
    top: 30px;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
#iconBeforeId{
    top: 10px;
    left: 10px;
    width: 70px;
    height: 70px;
    position: absolute;
    z-index: 6;
    font-size: 12px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: gray;
    border-radius: 50px;
    opacity: 0;
    transition: opacity 0.4s;
}

.icon img{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    position: absolute;
    z-index: -1;
    top: 5x;
    left: 5px;
}
.title{
    margin: 0;
    text-align: center;
    font-size: 80px;
    color: #02c2f2;
}
#rocketPic{
   width: 10%;
   left: 5%;
   position: absolute;
   display: none;
}
.topnavCloser{
    position: fixed;
    z-index: 3;
    height: 50px;
    width: 100%;
    top: 50%;
    right: 8%;
    justify-content: flex-end;
    align-items: center;
    transition: width 1s;
}
.topnavCloser i{
    font-size: 55px;
    font-weight: 900;
    color: white;
    position: absolute;
    z-index: 3;
    float: right;
    display: none;    
}
.header{
    margin-top: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.topnav{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
.topnavmenu{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 80%;
    right: 2%;
    padding-right: 5%;
}
.topnavmenu i{
    float: left;
    margin: 0;
    padding: 20px;
    background-color: #02c2f2;
    color: white;
    border-radius: 10px;
    font-weight: bolder;
}
.topnavmenu i:hover{
    animation-name: shaking;
    animation-iteration-count: 2;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-fill-mode: both;
    background-color: #02c2f2;
    color: white;
}
.introImg{
    width: 45%;
    border-radius: 10px;
    box-shadow: 0px 3px 3px 0px gray;
}
#introImg1{
    width: 10%;
    display: none;    
}
#introImg2{
    width: 10%;
    display: none;
}
#description{
    position: absolute;
    margin-bottom: 15%;
    margin-left: 3%;
    opacity: 0;
    transition: opacity 0.8s;
    color: #02c2f2;
}
#descriptionOther{
    position: absolute;
    margin-top: 20%;
    margin-left: 12%;
    opacity: 0;
    transition: opacity 0.8s;
    color: #02c2f2;
}
.topnavOptions{
    position: fixed;
    z-index: 1;
    height: 100%;
    width: 0;
    justify-content: center;
    align-items: center;
    top: 0;
    padding: 0;
    transform: scale(0);
    transition: width 1s;
}
.options{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: #02c2f2;
}
.options a{
    padding: 20px 0;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    background: #02c2f2;
    color: white;
    transition: all 0.8s;
    animation-name: inAndOutHover;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-play-state: paused;
}

.option{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}
.option span{
    width: 0%;
    height: 0px;
    background-color: white;
    animation-name: inAndOut;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    transition: transform 0.7s;
    animation-play-state: paused;
}
.optionBg{
    display: none;
}
option:hover{
    
}
@keyframes inAndOutHover {
    0% {margin-left: 0%;}
    7% {margin-left: 2%;}
    14% {margin-left: 4%;}
    21% {margin-left: 6%;}
    28% {margin-left: 4%;}
    35% {margin-left: 2%;}
    42% {margin-left: 0%;}
    49% {margin-right: 0%;}
    56% {margin-right: 2%;}
    63% {margin-right: 4%;}
    70% {margin-right: 6%;}
    79% {margin-right: 4%;}
    90% {margin-right: 2%;}
    100% {margin-right: 0%;}
}
@keyframes inAndOut {
    9% {width: 0%; height: 2px;}
    18% {width: 20%; height: 2px;}
    27% {width: 40%; height: 2px;}
    36% {width: 60%; height: 2px;}
    45% {width: 80%; height: 2px;}
    54% {width: 100%; height: 2px;}
    63% {width: 80%; height: 2px;}
    72% {width: 60%; height: 2px;}
    81% {width: 40%; height: 2px;}
    90% {width: 20%; height: 2px;}
    100% {width: 0%; height: 0px;}
}
/*.topnav a:hover{
    transform: scale(1.1);
    cursor: pointer;
    animation-name: shaking;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}*/
@keyframes shaking {
    0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.maintxt{
    font-size: 15px;
    background: #5B3ECF;
    background: -webkit-linear-gradient(to right, #5B3ECF 0%, #CF3ABB 100%);
    background: -moz-linear-gradient(to right, #5B3ECF 0%, #CF3ABB 100%);
    background: linear-gradient(to right, #5B3ECF 0%, #CF3ABB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 80%;
    border-left: 2px solid #5B3ECF;
    margin-left: 20%;
    padding-left: 5%;
    margin-top: 35%;
    animation-name: megyeget;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-timing-function: linear;
}
@keyframes megyeget {
    0% {margin-left: -500px;}
    20% {margin-left: 0px;}
    40% {margin-left: 500px;}
    60% {margin-left: 1000px;}
    80% {margin-left: 1500px;}
    100% {margin-left: 2000px;}
    
}
.maintxt h1{
    font-size: 22px;
}
#secondHeaderText{
    left:0;
    width: auto;
}
.whyQuestions{
    width: 100%;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
    flex-direction: column;
}
.circledivs{
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 0;
    margin: 0;
    z-index: -1;
}
.circlediv{
    background-color: #02c2f2;
    text-align: center;
    padding: 20px;
    border-radius: 1000px;
    width: 10%;
}
.front{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    padding-top: 10%;
    margin-bottom: 8rem;
}
.gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    flex-direction: column;
}
.gallery, .textGallery{
    padding: 0 3rem;
}
.headerText-contain{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10%;
    flex-direction: column;
    flex-wrap: wrap;
}
.headerText {
    position: relative;
    margin: 0;
    text-align: center;
    width: 15em; height: 4em;
    border-radius: .25em;
    transform: rotate(-4deg) rotateY(15deg);
    background: #02c2f2;
    text-align: center;
    font-size: 45px;
    padding: 3%
  }
  .headerText:before, .headerText:after {
    position: absolute;
    z-index: -1;
    content: '';
  }
  .headerText:after {
    top: 0; right: 0; bottom: 0; left: 0;
    border-radius: inherit;
    transform: rotate(2deg) translate(.35em, -.15em) scale(1.02);
    background: #f4fbfe;
  }
  .headerText:before {
    border: solid 0 transparent;
    border-right: solid 3.5em #f4fbfe;
    border-bottom: solid .25em #02c2f2;
    bottom: .25em; left: 1.25em;
    width: 0; height: 1em;
    transform: rotate(45deg) skewX(75deg);
  }
.question{
    font-size: 50px;
    background: #5B3ECF;
    background: -webkit-linear-gradient(to right, #5B3ECF 0%, #CF3ABB 100%);
    background: -moz-linear-gradient(to right, #5B3ECF 0%, #CF3ABB 100%);
    background: linear-gradient(to right, #5B3ECF 0%, #CF3ABB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /*margin-top: 40%;
    transition: all 0.8s;
    /*animation-name: hovering;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform: rotateZ(60deg);*/
}
.spaceBg{
    position: fixed;
    z-index: -2;
    top: 0;
}
.photoAlbum{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding-top: 5%;
}
.photoItem{
    width: 50%;
    padding: 0;
    margin: 0;
}
.photoTxt{
    color: white;
    background: #5B3ECF;
    background: -webkit-linear-gradient(to right, #5B3ECF 0%, #CF3ABB 100%);
    background: -moz-linear-gradient(to right, #5B3ECF 0%, #CF3ABB 100%);
    background: linear-gradient(to right, #5B3ECF 0%, #CF3ABB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.photo{
    position: absolute;
    z-index: 5;
    border-radius: 10px;
    margin: 2% 0 0 22%;
}
.photo:hover{
    transform: scale(4);
    transition: all 0.8s;
}
.photoHenirol{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.nk{
    position: -webkit-sticky;
  position: fixed;
  top: 000px;
  display: none;
}
.piTxt{
    font-size: 40px;
    background: #5B3ECF;
    background: -webkit-linear-gradient(to right, #5B3ECF 0%, #CF3ABB 100%);
    background: -moz-linear-gradient(to right, #5B3ECF 0%, #CF3ABB 100%);
    background: linear-gradient(to right, #5B3ECF 0%, #CF3ABB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 40%;
    width: 100%;
    text-align: center;
    /*
    animation-name: hovering;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    */
}

.photoInner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
footer{
    font-size: 22px;
    background-color: #02c2f2;
    text-align: center;
    color: white;
    margin: 0;
    width: 100%;
    padding: 3rem 0;

}
@keyframes hovering {
    0% {margin-top: 60%; margin-left: 0%; transform: rotateZ(0deg);}
    5% {margin-top: 61%; margin-left: 2%; transform: rotateZ(5deg);}
    10% {margin-top: 62%; margin-left: 0; transform: rotateZ(0deg);}
    15% {margin-top: 63%; margin-left: 1%; transform: rotateZ(5deg);}
    20% {margin-top: 64%; margin-left: 3%; transform: rotateZ(10deg);}
    25% {margin-top: 65%; margin-left: 1%; transform: rotateZ(5deg);}
    30% {margin-top: 64%; margin-left: 0%; transform: rotateZ(0deg);}
    35% {margin-top: 63%; margin-left: 2%; transform: rotateZ(-5deg);}
    40% {margin-top: 62%; margin-left: 1%; transform: rotateZ(-10deg);}
    45% {margin-top: 61%; margin-left: 3%; transform: rotateZ(-5deg);}
    50% {margin-top: 60%; margin-left: 5%; transform: rotateZ(0deg);}
    55% {margin-top: 61%; margin-left: 7%; transform: rotateZ(5deg);}
    60% {margin-top: 62%; margin-left: 8%; transform: rotateZ(10deg);}
    65% {margin-top: 63%; margin-left: 6%; transform: rotateZ(5deg);}
    70% {margin-top: 64%; margin-left: 7%; transform: rotateZ(0deg);}
    75% {margin-top: 63%; margin-left: 5%; transform: rotateZ(5deg);}
    80% {margin-top: 64%; margin-left: 3%; transform: rotateZ(0deg);}
    85% {margin-top: 63%; margin-left: 4%; transform: rotateZ(5deg);}
    90% {margin-top: 62%; margin-left: 2%; transform: rotateZ(10deg);}
    95% {margin-top: 61%; margin-left: 1%; transform: rotateZ(5deg);}
    100% {margin-top: 60%; margin-left: 0%; transform: rotateZ(0deg);}
}
.imgWrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    padding-right: 5rem;
    background-color: #faf5f5;
    padding: 5rem 0;
    margin: 5rem 3rem 0 3rem;
    height: 60%;
}
.textGallery p, .arrowText p{
    color: #02c2f2;
    font-size: 1.5rem;
    font-weight: 500;
}
.didYouKnow p{
    text-align: center;
    background-color: #02c2f2;
    color: white;
    padding: 5rem;
    border-radius: 30% 70% 29% 71% / 35% 29% 71% 65% ;
    transition: all 0.8s;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}
.didYouKnow p:hover{
    border-radius: 60% 40% 82% 18% / 46% 55% 45% 54%  ;
    color: #02c2f2;
    background-color: transparent;
}
.didYouKnow{
    
    top: 30rem;
    padding: 3rem;
}
#dyk1{
    top: 72rem;
}
.paws i{
    font-size: 15px;
    color: #02c2f2;
}
.paws{
    width: 2rem;
    transform: rotateZ(45deg);
    padding-left: 10rem;
}
.pawLeft{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.pawRight{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.imgGlimpse{
    background: url("henisztar.jpg");
    width: 20rem;
    height: 10rem;
    background-position:top;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5rem;
    border-radius: 20% 80% 16% 84% / 31% 37% 63% 69% ;
    animation-name: blobbing;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    transition: all 0.8s;
}
@keyframes blobbing {
    0%{border-radius: 20% 80% 16% 84% / 31% 37% 63% 69% ;}
    20%{border-radius: 53% 20% 16% 44% / 41% 21% 10% 69% ;}
    40%{border-radius: 20% 80% 49% 51% / 93% 16% 84% 7%  ;}
    60%{border-radius: 63% 37% 49% 51% / 15% 36% 64% 85%  ;}
    80%{border-radius: 63% 37% 80% 20% / 79% 36% 64% 21% ;}
    100%{border-radius: 20% 80% 16% 84% / 31% 37% 63% 69%  ;}
}
#des1, #des2{
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: all 0.6s;
}
#des1{
    margin-bottom: 45%;
    margin-left: 22%;
}
#des2{
    margin-bottom: 27%;
    margin-left: 24%;
}
.arrowText{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
}
.arrowText i{
    color: #02c2f2;
    font-size: 8rem;
}
*{
    cursor: default;
}
*{
    max-width: 100%;
}
#we{
    transition: all 0.7s;
}
#we:hover{
    transform: scale(1.2);
}
.loginWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    flex-direction: column;
}
.loginSurface{
    background-color: #02c2f2;
    color: white;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 10rem;
    border-radius: 30% 70% 21% 79% / 54% 19% 81% 46% ;
    animation-name: blobbing;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    transition: all 0.8s;
}
.loginSurface:hover{
    animation-play-state: paused;
}
.loginInputs form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.loginInput{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loginInput label{
    margin-right: 1rem;
    font-size: larger;
}
input{
    border: 1.5px solid white;
    background-color: transparent;
}
.loginLabel{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logininput{
    padding: 0.5rem;
}
.loginInput button{
    background-color: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 5px;
    padding: .5rem 4rem;
    font-weight: 700; 
    transition: 0.4s;
}
.loginInput button:hover{
    background-color: white;
    color: #02c2f2;
}
.loginInput input, .loginInput button{
    cursor: pointer;
}
.loginTitle{
    font-size: 4rem;
    color: #02c2f2;
    text-transform: uppercase;
    margin-bottom: 5rem;
}
#dyk2 p{
    border-radius: 73% 27% 70% 30% / 22% 62% 38% 78% ;
}
#dyk2 p:hover{
    border-radius: 60% 40% 82% 18% / 46% 55% 45% 54%  ;
    color: #02c2f2;
    background-color: transparent;
}
#dyk3 p{
    border-radius: 30% 70% 70% 30% / 39% 62% 38% 61% ;
}
#dyk3 p:hover{
    border-radius: 60% 40% 82% 18% / 46% 55% 45% 54%  ;
    color: #02c2f2;
    background-color: transparent;
}
@media only screen and (max-width: 500px){
    .loginSurface{
        width: 40%;
        padding: 2rem 6rem;
    }
    .loginInput{
        flex-direction: column;
        text-align: center;
    }
    .loginTitle{
        font-size: 2rem;
    }
    .loginLabel{
        font-size: 12px;
    }
    .loginInput label{
        font-size: 12px;
    }
    .headerText{
        font-size: 1rem;
    }
    .textGallery{
        width: 70%;
        margin-left: 0;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    .imgWrapper, .gallery{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0;
        flex-direction: column;
        padding: 0;
    }
    .imgWrapper{
        padding: 2rem 0;
        margin: 3rem 1rem;
    }
   .arrowText i{
       display: none;
   }
    .didYouKnow p{
        font-size: 12px;
        text-align: center;
        width: 50%;
        padding: 3rem;
    }
    .arrowText i{
        font-size: 20px;
    }
    .arrowText p{
        font-size: 12px;
        text-align: center;
    }
    #dyk1{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer p{
        font-size: 12px;
    }
    .title{
        margin-bottom: 3rem;
    }
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px whitesmoke; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #02c2f2; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(8,219,142,0.5); 
  }