*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(248, 244, 244);
    font-family: 'Zen Kurenaido', sans-serif;
}
.mainWrapper{
    height: 60rem;
    max-height: 60rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 4rem 2rem;
    padding-bottom: 6rem;
    flex-direction: column;
}
.main{
    max-height: 100%;
    height: 100%;
    width: 60%;
    background-color: white;
    box-shadow: 1px 1px lightgrey;
    border-radius: 2px;
    padding: 6rem 5rem;
    border: none;
    overflow-y: scroll;
    font-size: 15px;
    resize: none;
}

.main:focus{
    border: none;
    outline: none;
}
.main::selection{
    background-color: #02c2f2;
    color: white;
    opacity: .8;
}
.addMain{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2.5rem;
}
.saveContent{
    padding: 1rem 5rem;
    font-size: 18px;
    color: #02c2f2;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid #02c2f2;
    border-radius: 10px;
    transition: all 0.7s;
    cursor: pointer;
    margin-top: 5rem;
    text-transform: uppercase;
}
.saveContent:hover{
    background-color: #02c2f2;
    color: white;
}
.inputWrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    border: 1px solid #02c2f2;
    margin: 0 10rem;
    border-radius: 5px;
    padding: 3rem 2rem;
    margin-top: 1.5rem;
}
.option{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}
.option input{
    margin-left: 1rem;
    border: 1px solid #02c2f2;
}
.option label{
    text-transform: uppercase;
    font-size: 18px;
    color: #02c2f2;
    font-weight: 600;
}
.invisible{
    display: none;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.toolsReadyWrapper{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#toolsNotReady{
    background-color: transparent;
    border: none;
}
#toolsNotReady i{
    color: #02c2f2;
    cursor: pointer;
    font-size: 15px;
}
.tool{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    border: 1.5px solid #02c2f2;
    border-radius: 10px;
    padding: 2rem 1.5rem;
}
#toolsReadyOther{
    top: 14rem;
}
.toolOptions{
    display: none;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.toolOption{
    color: #02c2f2;
    border: 2px solid #02c2f2;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.3rem 1rem;
    margin-left: 1rem;
    transition: all 0.6s;
    cursor: pointer;
}
.toolOption:hover{
    background-color: #02c2f2;
    color: white;
}
.tool button, .option button{
    text-transform: uppercase;
    background-color: #02c2f2;
    color: white;
    font-weight: bold;
    padding: 0.5vw 1vw;
    border: transparent;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    font-size: 1vw;
}
.tool input{
    width: 30%;
    margin-left: 1rem;
}
#textColorInput, #backgroundColorInput{
    width: 5rem;
}
.toolOptionsOther{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
}
.toolOptionsOther:nth-child(2){
    margin-left: 1rem;
}
.toolOptionsOther2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.toolOptionsOther2 input{
    margin: 0;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px whitesmoke; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #02c2f2; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(8,219,142,0.5); 
  }
#nOfWords{
    display: none;
    color: #02c2f2;
    text-align: center;
    text-transform: uppercase;
    padding: 3rem 5rem;
    font-weight: bold;
    border: 2px solid #02c2f2;
    border-radius: 10px;
    margin: 2rem 8rem;
}
.imBoredDiv{
    display: none;
    justify-content: space-evenly;
    align-items: center;
    border: 1.8px solid #02c2f2;
    padding: 2rem 4rem;
    margin: 3rem 10rem;
    border-radius: 10px;
}
.imBoredDiv i{
    color: #02c2f2;
    font-size: 5vw;
    cursor: pointer;
}
.imBoredDiv button{
    background-color: transparent;
    border: none;
}
.showGames{
    display: none;
    justify-content: space-evenly;
    align-items: center;
    border: 1.6px solid #02c2f2;
    border-radius: 10px;
    padding: 3.5rem 6rem;
    margin: 3rem 8rem;
}
.game{
    color: white;
    background-color: #02c2f2;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.3vw;
    padding: .5vw 4vw;
    border-radius: 7px;
    text-align: center;
    vertical-align: middle;
    border: none;
    cursor: pointer;
}
.savedBool{
    margin-top: 2rem;
    color: #02c2f2;
    font-size: 1.6vw;
    font-weight: 400;
}
#trexGameWrapper{
    display: none;
    justify-content: center;
    align-items: center;
}
#trexGame{
    width: 100vmin;
    height: 100vmin;
    border: 1.5px solid #02c2f2;
    border-radius: 10px;
}
#character{
    width: 8vh;
    height: 10vh;
    position: relative;
    top: 65vh;
    background: url("../heniszexi.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    left: 5vh;
}
.animate{
    animation-name: jump;
    animation-duration: 400ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}
#block{
    width: 5vh;
    height: 5vh;
    background: url("../kacsa.jpg");
    background-size: 5vh;
    background-repeat: no-repeat;
    background-position:top;
    border: 1px solid #02c2f2;
    position: relative;
    top: 60vh;
    left: 80vh;
    animation-name: block;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}
@keyframes block {
    0% {left: 80vh;}
    20% {left: 60vh;}
    40% {left: 40vh;}
    60% {left: 20vh;}
    80% {left: 0;}
    100% { left: 0;}
}
@keyframes jump {
    0% {top: 65vh;}
    33% {top: 55vh;}
    67% {top: 55vh;}
    100% {top: 65vh;}
}
.freshStart{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 3rem;
    flex-direction: column;
}
.freshStart button{
    border:  none;
    background-color: #02c2f2;
    color: white;
    padding: 0.6vh 2vh;
    font-weight: 800;
}
.freshStart div{
    border: 1.5px solid #02c2f2;
    color: #02c2f2;
    font-size: 2vh;
    font-weight: 500;
    padding: .5rem 1.7rem;
    margin-bottom: 2rem;
}
.gameVenue{
    position: relative;
    z-index: -1;
    width: 100vh;
    height: 1vh;
    top: 58.8vh;
    border-bottom: 2px solid black;
}
.loginWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5vmin;
}
.loginSurface{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 4rem 8rem;
    background-color: #02c2f2;
    color: white;
    font-weight: 700;
    font-size: 1.8rem;
    border-radius: 15px;
}
.loginSurface div{
    display: flex;
    align-items: baseline;
    margin-top: 3rem;
    justify-content: space-evenly;
}
.loginSurface div input{
    margin-left: 2rem;
    background-color: transparent;
    border: 1.4px solid white;
    border-radius: 2px;
}
.submit button{
    border-radius: 5px;
    background-color: white;
    color: #02c2f2;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1.3rem 3rem;
    transition: all 0.7s;
    border: none;
}
.submit button:hover{
    background-color: #02c2f2;
    color: white;
}
.jokeCounter{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.3px solid #02c2f2;
    border-radius: 5px;
    padding: 2rem 4.5rem;
    width: 10rem;
    margin-top: 3vh;
}
.jokeLabel{
    color: #02c2f2;
    font-size: 2.1vh;
    font-weight: 600;
    margin-bottom: 1.2rem;
}
#jokeLabel{
    font-size: 3vh;
}
.inputJoke{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.jokeButton{
    background-color: #02c2f2;
    color: white;
    font-size: 3.8vh;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 1rem 3rem;
    cursor: pointer;
    margin-bottom: 1.2rem;
}
.intro{
    width: 100%;
    height: 100vmin;
    background: url("kalai.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    background-blend-mode: darken;
    background-color: #5c5b5a;
    margin: 0 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.introWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.introDesc{
    background-color: #02c2f2;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    padding: 4rem 5rem;
    border-radius: 100% 0 0 0;
    padding-left: 6rem;
}
.introDesc p{
    margin-left: 6rem;
    margin-top: 3rem;
}
.jokeWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.jokeChart{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.todaysJokes{
    border-radius: 5px;
    background-color: #02c2f2;
    color: white;
    font-size: 6vh;
    font-weight: bold;
    padding: 5rem 10rem;
    margin-bottom: 4rem;
}
#chartDiv, #chartDiv1{
    width:70%; 
    margin:0 auto;
    height: 500px;
}
#chartDiv1{
    margin-top: 3.5rem;
}
@media only screen and (max-width: 600px) {
    .todaysJokes{
        font-size: 4vh;
        padding: 3rem 7rem;
    }
    #chartDiv, #chartDiv1{
        width: 100%;
        height: 400px;
    }
    .introDesc{
        padding: 1rem 3rem;
        width: 50%;
    }
    .introDesc p{
        font-size: 2vh;
        margin-top: 1.5rem;
        margin-left: 4.6rem;
    }
    .jokeButton{
        padding: 0.8rem 2rem;
        font-size: 3.5vh;
    }
}
.jokes{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
}
.toJokes{
    text-decoration: none;
    padding: 2rem 5rem;
    background-color: #02c2f2;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 3.5vh;
    border-radius: 12px;
}
.messageFrame{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 3vmin;
    height: 45vmin;
    position: fixed;
    top: 20vmin;
    width: 100%;
    display: none;
}
.messageFrame iframe{
    border: 1.8px solid #02c2f2;
    border-radius: 10px;
    height: 100%;
    width: 40%;
    background-color: white;

}
.classesDiv{
    display: none;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: baseline;
    border: 1.2px solid #02c2f2;
    border-radius: 5px;
    padding: 3rem 5rem;
    margin: 3rem 5rem 0 5rem;
}
.classesDiv div{
    background-color: #02c2f2;
    color: white;
    font-size: 3vh;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
}
#prevClass{
    padding:.5rem 1rem;
    width: 20vmin;
}
#currClass{
    padding: 1.5rem 3rem;
    background-color: transparent;
    background-image: linear-gradient(90deg, #02c2f2, #02c2f2 100%,transparent 0);
    width: 45vmin;
    margin: 0 1rem;
}
#nextClass{
    padding: .5rem 1rem;
    width: 20vmin;
}
#noClass, #noClass1{
    font-size: 3vh;
    font-weight: bold;
    color: #02c2f2;
    background-color: transparent;
}
#todaysClasses{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 3vmin;
}
#todaysClasses div{
    padding: 0.5rem 2rem;
    text-transform:capitalize;
}