*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html{
    font-size: 62.5%;
}
.container{
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}
.calendar{
    width: 45rem;
    height: 52rem;
    box-shadow: 0 1px 4px 0 lightgray;
    border-radius: 20px;
    margin-left: 8%;
}
.month{
    width: 100%;
    height: 12rem;
    background-color: #02c2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 4px 1px 0 0;
}
.month pre{
    font-size: 2.5rem;
    cursor: pointer;
}
.month h1{
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin-bottom: 1rem;
}
.month p{
    font-size: 1.6rem;
}
.weekDays{
    width: 100%;
    height: 5rem;
    padding: 0 0.4rem;
    display: flex;
    align-items: center;
    color: #02c2f2;
    font-weight: bolder;
}
.weekDays div{
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: .1rem;
    width: calc(44.2rem/7);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.days{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: .2rem;
}
.days div{
    font-size: 1.4rem;
    margin: .3rem;
    width: calc(40.2rem/7);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.6s;
    color: #02c2f2;
    border-radius: 5px;
}
.prevDate, .nextDate{
    opacity: 0.4;
}
.today{
    font-weight: bolder;
    border: 1px solid #02c2f2;
}
.days div:hover:not(.today){
    background-color: #02c2f2;
    color: white;
}
.chosenStudent{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-wrap: wrap;
    flex-direction: column;
}
.studentData{
    width: 100%;
    height: 100%;
    padding: 20px;
    font-size: 1.4rem;
    color: #02c2f2;
    border: 2px solid #02c2f2;
    margin: 0 5% 5% 0;
}
.timeLeft{
    width: 100%;
    height: 100%;
    padding: 20px;
    font-size: 1.4rem;
    color: #02c2f2;
    margin: 20% 5% 5% 0;
}
.timeLeft p{
    font-size: 3rem;
    font-weight: 400;
}
.date tr td{
    text-align: center;
}
.buttonWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
}
.chosenStudentCloser{
    background-color: #02c2f2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 700;
}